.top-banner {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 32px;
}

.logo {
    width: 100px;
}

.header,
.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 16px;
    justify-self: flex-end;
}

.banner-content-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.hero-card {
    display: flex;
    flex-direction: column;
    flex: 0 1 1;
    width: 300px;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB; 
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 80px;
}

.banner-img {
    width: 300px;
}